<!-- Register form -->
<section id="register" ng-hide="main.checkLoggedIn()">
  <div class="pure-g">
    <div class="pure-u-1">
      <form name="main.registerForm" class="pure-form pure-form-aligned" ng-submit="main.register()" novalidate>

        <legend>Register</legend>

        <div class="pure-control-group">
          <label for="username">Username</label>
          <input type="text" name="username" placeholder="Username" ng-model="main.user.username">
        </div>

        <div class="pure-control-group">
          <label for="fullname">Full name</label>
          <input type="text" name="fullname" placeholder="Fullname" ng-model="main.user.fullname">
        </div>

        <div class="pure-control-group">
          <label for="image">ImageURL</label>
          <input type="text" name="image" placeholder="Image URL " ng-model="main.user.image">
        </div>

        <div class="pure-control-group">
          <label for="email">Email</label>
          <input type="text" name="email" placeholder="Email" ng-model="main.user.email" required>
        </div>

        <div class="ng-message-error pure-control-group" ng-messages="main.registerForm['email'].$error" ng-show="(main.registerForm.$submitted && main.registerForm['email'].$invalid)">
          <p ng-message="required">Email is required.</p>
        </div>

        <div class="pure-control-group">
          <label for="password">Password</label>
          <input type="password" name="password" placeholder="Password" ng-model="main.user.password" required>
        </div>

        <div class="ng-message-error pure-control-group" ng-messages="main.registerForm['password'].$error" ng-show="(main.registerForm.$submitted && main.registerForm['password'].$invalid)">
          <p ng-message="required">Password is required.</p>
        </div>

        <div class="pure-controls">
          <button type="submit" class="pure-button pure-button-primary">Register</button>
        </div>
        
      </form>
    </div>
  </div>
</section>