#chat {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#messages {
  width: 100vw;
  height: 75vh;
  overflow-y: auto; 
  padding-left: 0;
}

.media {
  margin-top: 0;
  border-bottom: 2px solid #263238;
}

.media-left {
  padding-left: 10px;
}

#chat .footer {
  bottom: 12vh;
  position: fixed;
  width: 100vw;
  height: 15vh;
  background-color: white;
}

#chat .footer input {
  width: 100vw;
  height: 40px;
  border: 2px solid #9575CD;
  margin-bottom: 10px;
  vertical-align: top;
  font-size: 20px;
  line-height: 20px;
  overflow-x: none;
}

#chat .footer form button {
  display: inline-block;
  border: none;
  border-radius: 50%;
  background-color: #9575CD;
  color: white;
  height: 10vh;
  width: 10vh;
}

#send {
  position: absolute;
  left: 3vw;
  bottom: -2vh;
}

#translate {
  position: absolute;
  left: 40vw
}

#record {
  position: absolute;
  left: 80vw
}
