#chat {
  width: 100vw;
  height: 100vh;
  position: relative;
}

#messages {
  width: 100vw;
  height: 75vh;
  overflow-y: auto; 
  padding-left: 0;
}

.media {
  margin-top: 0;
  border-bottom: 2px solid #263238;
}

.media-left {
  padding-left: 10px;
}

.media-object {
  height: 40px;
  width: 40px;
}

#chat .footer {
  bottom: 5vh;
  position: fixed;
  width: 100vw;
  height: 25vh;
  background-color: #EEEEEE;
}

.footer form:nth-child(1) {
  border-top: 2px solid #9575CD;
}

#chat .footer input {
  width: 90vw;
  height: 40px;
  border: 2px solid #9575CD;
  margin: 3vh 5vw;
  vertical-align: top;
  font-size: 20px;
  line-height: 20px;
  overflow-x: none;
}

#chat .footer form button {
  display: inline-block;
  border: none;
  background-color: #9575CD;
  color: white;
  height: 6vh;
  width: 25vh;
}

#send {
  position: absolute;
  left: 8vw;
  bottom: 6vh;
}

#translate {
  position: absolute;
  left: 55vw;
  bottom: 6vh;
}

#record {
  position: absolute;
  left: 80vw
}
