#home {
  background-color: white;
  height: 100vh;
  width: 100vw;
  z-index: -2;
}

.row {
  margin: 0;
}

.thumbnail {
  width: 47vw;
  height: 47vw;
  border-radius: 0;
  border: 2px solid #263238;
  display: inline-block;
  position: relative;
  background: none;
  overflow: hidden;
  margin: 1.2vw;
}

.thumbnail img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  overflow-y: auto;
}

.thumbnail .caption {
  position: absolute;
  width: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(255,255,255,0.6);
  height: 60px;
  z-index: 1000;
}

.thumbnail .caption h3 {
  margin: 0;
  color: #263238;
  font-size: 25px;
  letter-spacing: -2px;
  display: inline-block;
  text-align: center;
}

.panel-default>.panel-heading {
  background-color: #607D8B;
  color: white;
  border-radius: 0;
}