html {
  font-family: "helvetica neue";
  text-rendering: optimizeLegibility;

}

body {
  max-width: 960px;
  margin: 0 auto;
  background-color: white;
  color: #263238;
  position: relative;
  padding-bottom: 70px;
}

#login, #register {
  background-color: #607D8B;
  width: 100vw;
  height: 100vh
}

h1 {
  font-size: 90px;
  font-family: "Slackey";
  position: absolute;
  top: 7.5vh;
  left: 11vw;
  color: white;
}

#login h1, #register h1 {
  -webkit-animation-duration: 1.4s;
  -webkit-animation-delay: 1s;
  -webkit-animation-iteration-count: infinite;
}

h2 {
  background-color: #607D8B;
  color: white;
  padding: 10px 0;
  margin: 0;
  text-align: center;
  letter-spacing: -1px;
  font-size: 40px
}

#login h2, #register h2 {
  text-align: center;
  letter-spacing: -2px;
  background-color: #607D8B;
  padding: 20px 0;
  margin-top: 0;

}

#login form {
  width: 100%;
  height: 250px;
  top: 32vh;
  position: absolute;
}

#register form {
  position: absolute;
  width: 100%;
  top: 28vh;
}

#login form input, #register form input, #login.ng-message-error p, #register.ng-message-error p {
  width: 50vw;
  margin: 10px 25vw 0 25vw;
  background: transparent;
  border: none;
  border-bottom: 2px solid white;
  border-left: 2px solid white;
  color: white;
  font-size: 20px;
  letter-spacing: -1px;
}

#login.ng-message-error p, #register.ng-message-error p {
  width: 100vw;
  border: none;
  margin: 10px 20vw 0 20vw;
}

#login button, #register button {
  width: 26vw;
  height: 26vw;
  margin: 30px 37vw 0 37vw;
  border-radius: 50%;
  font-size: 26px;
  letter-spacing: -1px;
  font-weight: bold;
  background: white;
  border: 2px solid #607D8B;
  color: #607D8B;
}

#login button:hover, #register button:hover {
  background: transparent;
  border: 2px solid white;
  color: white;

}

#register button {
  width: 30vw;
  height: 30vw;
  margin: 30px 35vw 0 35vw;
}

::-webkit-input-placeholder {
  text-align: center;
  color: white;
}

.navbar-default {
  background-color: #607D8B;
  box-shadow: none;
  border-top: 5px solid white;
}

.container h2 {
  margin:10px 20px;
  color: white;
  padding: 0;
}