html {
  font-family: "helvetica neue";
}

body {
  max-width: 960px;
  margin: 0 auto;
  background-image: url('../images/tile-background.jpg')
}

nav {
  background-color: grey;
  box-shadow: none;
}

#chat {
  overflow-y: auto;
}